@using NewsSystem.Data.ViewModels.Articles

@model IList<NewsEditorsChoiceOverviewClientViewModel>

<h5 class="head">Featured News</h5>
<div id="featured-news-view" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        @for (int i = 0; i < Model.Count; i++)
        {
            <li data-target="#featured-news-view"
                data-slide-to="@i"
                class="@if (i == 0) { <text> active</text> }"></li>
        }
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        @for (int i = 0; i < Model.Count; i++)
        {
            <div class="item text-center @if (i == 0) { <text> active</text> }">
                @Html.DisplayFor(m => Model[i].CoverImage)
                <div class="carousel-caption features">
                    @*<h5>Featured news</h5>*@
                    <a href="@Url.Action("Details", "News", new { id = Model[i].Id, title = Html.CleanerUrl(Model[i].Title)  })">
                        <h2>@Model[i].Title</h2>
                    </a>
                </div>
            </div>
        }
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#featured-news-view" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#featured-news-view" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
