<div class="content">
    <div class="col-md-7 content-left">
        <div class="mid-carousel-container">
            @Html.Action("FeaturedNews", "News")
        </div>
        @Html.Action("RecentNews", "News")
    </div>

    @Html.Partial("_CommonSuroundings")
</div>