@{
    ViewBag.Title = "Home Page";
}

<div class="content">
    <div class="col-md-7 content-left">
        @Html.Action("RecentNews", "News")
    </div>

    @Html.Partial("_CommonSuroundings")
</div>