@using NewsSystem.Data.ViewModels.Articles

@model ICollection<ArticleViewModel>

<div>
    <h2>Articles</h2>
    @foreach (var article in Model)
    {
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">@article.Title</h3>
            </div>
            <div class="panel-body">
                @article.Content
            </div>
        </div>
    }
</div>

