@using NewsSystem.Data.ViewModels.Articles

@model ICollection<ArticleViewModel>

<h2>Articles</h2>
@foreach (var article in Model)
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">@article.Title</h3>
            <div class="pull-right">
                <a href="@Url.Action("Edit", "Article", new { articleId = article.Id })" class="btn btn-success">Edit</a>
                <a href="@Url.Action("Edit", "Article", new { articleId = article.Id })" class="btn btn-danger">Delete</a>
            </div>
        </div>
        <div class="panel-body">
            @Html.Raw(article.Summary)
        </div>
    </div>
}
