<div class="row">
    <div class="col-md-10 col-md-offset-1 text-center">
        <div>
            <a href="@Url.Action("Create", "Article", null)" class="btn btn-primary">Add article</a>
        </div>
    </div>
</div>
<div class="row">
    <div id="articles-list" class="col-md-12">
        @Html.Action("ArticlesTable", "Article", new { })
    </div>
</div>
