@using PagedList
@using PagedList.Mvc

@using NewsSystem.Data.ViewModels.NSImages
@using NewsSystem.Web.Common.Constants

@model PagedList<NSImageGridViewModel>

<div class="panel @CommonStyles.PanelStyle">
    <div class="panel-heading">
        <h3 class="panel-title">Images Grid</h3>
    </div>
    @foreach (var nsImage in Model)
    {
        <div class="col-md-2 img-thumbnail">
            <img src="@Url.Action("NSImage", "NSImage", new { Area = string.Empty, imageId = nsImage.Id })" alt="Image not found" class="img-responsive" />
            <a href="@Url.Action("Edit", "NSImage", new { nsImageId = nsImage.Id })" class="btn btn-sm btn-success">Edit</a>
        </div>
    }
    <div>
        @Html.PagedListPager(Model,
        page => Url.Action("NSImagesGrid", "NSImage", new { page }),
        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
        new AjaxOptions()
        {
            HttpMethod = "GET",
            UpdateTargetId = "images-grid-wrapper"
        }
        ))
    </div>
</div>