@using NewsSystem.Web.Common.Constants

<div class="form-group">
    <input type="text" class="form-control" id="search-images-by-text-sfield" placeholder="Search by text...">
</div>
<div class="form-group">
    <input type="text" class="form-control" id="search-images-by-tags-sfield" placeholder="Search by tags...">
</div>
<div class="form-group">
    <span class="input-group-btn">
        <button class="btn btn-default btn-block" type="button" data-urllink="@Url.Action("NSImagesGrid", "NSImage", new { })" id="search-images-by-tags-btn">
            <i class="fa fa-search"></i> Search
        </button>
    </span>
</div>