body {
}

.word-wraped {
    word-wrap: break-word;
}

.albums-grid-container {
    max-width: 100%;
    max-height: 100px;
    border: 10px solid transparent;
}

.image-in-container {
    max-width: 100%;
    max-height: 100%;
}

.padding-form {
    padding: 20px;
}