<div id="datetime" class="widget-content">
    <h2 class="time left-widget-info text-center"></h2>
    <div class="date-container right-widget-info">
        <h4 class="weekday top-heading"></h4>
        <p class="date bottom-info-plate"></p>
    </div>
</div>
