<div class="col-md-5 content-right">
    @Html.Action("PopularNews", "News")
    @Html.Action("EditorsChoiceNews", "News")
</div>
<div class="clearfix"></div>
@*@Html.Action("FeaturedNews", "News")*@
<div class="col-md-7 content-left">
    @Html.Action("RecentNews", "News")
</div>
<div class="col-md-5 content-right content-right-top">
    @Html.Action("PopularNews", "News")
</div>
<div class="clearfix"></div>
