@using NewsSystem.Data.ViewModels.AlbumCategories

@model IEnumerable<AlbumCategoryViewModel>

<div class="panel panel-red">
    <div class="panel-heading">
        <h3 class="panel-title">Album Categories</h3>
    </div>
    @foreach (var category in Model)
    {
        <div class="list-group panel-body word-wraped">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title ">
                        <a href="javascript:;" data-toggle="collapse" data-target="#album-category-@category.Id" class="" aria-expanded="false">
                            <i class="fa fa-fw">
                            </i>
                            @category.Name
                            <i class="fa fa-fw fa-arrow-circle-down">
                            </i>
                        </a>
                    </h3>
                </div>
                @if (category.Children.Count > 0)
                {
                    <div class="list-group panel-body">
                        <ul id="album-category-@category.Id" class="collapse" aria-expanded="false">
                            @foreach (var child in category.Children)
                            {
                                <li>
                                    <a href="@Url.Action("SearchByAlbumCategory", "Album", new { categoryId = child.Id })" class="album-category-search-link">@child.Name</a>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>
    }
</div>