<div class="row">
    <div class="col-md-2">
        @Html.Action("AlbumCategoryTree", "AlbumCategory")
    </div>
    <div id="albums-grid" class="col-md-8">
        @Html.Action("AlbumsGrid", "Album", new { })
    </div>
    <div class="col-md-2 text-center">
        <div class="row">
            <a href="@Url.Action("Create", "Album", null)" class="btn btn-default btn-block">Add album</a>
        </div>
        <br />
        <div class="row">
            <input type="text" name="SearchAlbum" id="search-album-field" placeholder="Enter text to search for album..." class="form-control" />
            <br />
            <a href="#" class="btn btn-default btn-block">Search</a>
        </div>
        @*@Html.Action("AddAlbum", "")*@
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/admin-panel-albums")

    <script>
        APP.Albums.init();
    </script>
}