@using NewsSystem.Data.ViewModels.Categories
@using NewsSystem.Web.Helpers

@model IEnumerable<CategoryMenuClientViewModel>

<div class="header-bottom">
    <div class="type">
        <h5>Sections</h5>
    </div>
    <span class="menu"></span>
    <div class="list-nav">
        <ul>
            @foreach (var cat in Model)
            {
                <li @if (cat.Children.Count > 0) { <text> class="dropdown" </text>  }>
                    <a @if (cat.Children.Count > 0) { <text> class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" </text>    }>@cat.Title</a>
                    @if (cat.Children.Count > 0)
                    {
                        <ul class="dropdown-menu">
                            <li><a href="@HttpContext.Current.Server.UrlDecode(Url.Action("ByCategory", "News", new { id = cat.Id, title = Html.CleanerUrl(cat.Title) }))">All</a></li>
                            @foreach (var childCat in cat.Children)
                            {
                                <li><a href="@Url.Action("ByCategory", "News", new { id = childCat.Id, title = Html.CleanerUrl(childCat.Title) })">@childCat.Title</a></li>
                            }
                        </ul>
                    }
                </li>
            }
        </ul>
    </div>
    <!-- script for menu -->
    <script>
        $("span.menu").click(function () {
            $(".list-nav").slideToggle("slow", function () {
                // Animation complete.
            });
        });
    </script>
    <!-- script for menu -->

    <div class="clearfix"></div>
</div>