@using NewsSystem.Data.ViewModels.Categories
@using NewsSystem.Web.Common.Constants

@model IEnumerable<CategoryViewModel>

<div class="panel @CommonStyles.PanelStyle">
    <div class="panel-heading">
        <h3 class="panel-title">Categories</h3>
    </div>
    @foreach (var category in Model)
    {
        <div class="panel-body word-wraped">
            <div class="list-group">
                <a href="javascript:;" data-toggle="collapse" data-target="#category-@category.Id" class="list-group-item active" aria-expanded="false">
                    @category.Title<i class="fa fa-fw fa-arrow-circle-down"></i>
                </a>
                @if (category.Children.Count > 0)
                {
                    <span id="category-@category.Id" class="collapse" aria-expanded="false">
                        @foreach (var child in category.Children)
                        {
                            @Ajax.ActionLink(child.Title, (string)this.ViewBag.Action, (string)this.ViewBag.Controller,
                            new
                            {
                                categoryId = child.Id,
                            },
                            new AjaxOptions
                            {
                                HttpMethod = "GET",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = (string)this.ViewBag.UpdateTargetId,
                                OnComplete = CommonToastrSettings.CompleteAction,
                                OnFailure = CommonToastrSettings.FailedAction,
                                OnBegin = CommonToastrSettings.BeginAction,
                            },
                            new { @class = "list-group-item album-category-search-link" })
                        }
                    </span>
                }
            </div>
        </div>
    }
</div>